<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Form standard -->
    <add key = "formCaption" value = "Test Download Files with Wcf Services" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>